.item {
  background-color: rgb(226, 234, 241);
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.text {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.iconContainer {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.edit {
  color: rgb(0, 110, 0);
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 0.5rem;
  cursor: pointer; 
}

.trash {
  margin-left: 0.8rem;
  color: rgb(172, 0, 0);
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 0.5rem;
  cursor: pointer;
}

.edit:is(:focus, :hover),
.trash:is(:focus, :hover) {
  background-color: #ccc;
}